<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <input type="radio" name="courseId" value="1"> Veb Programiranje<br/>
    <input type="radio" name="courseId" value="2"> Operativni Sistemi<br/>
    <input type="radio" name="courseId" value="3"> Elektronska i mobilna trgovija<br/>
    <input type="radio" name="courseId" value="4"> Kompjuterski Mrezi<br/>

    <br/>
    <a href="/addStudent">Submit</a>
</main>
</body>
</html>